@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
   
   <footer>
      <section class="footer-section">
        <div class="description">
          <img src="~/images/logos/logotype-white.svg" alt="Crito-logo" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            nulla fuga, dolores magnam explicabo tempore cumque.
          </p>
        </div>
        <div>
          <h5>Company</h5>
          <ul>
            <li><a href="#"> About</a></li>
            <li><a href="#"> Features</a></li>
            <li><a href="#"> Works</a></li>
            <li><a href="#"> Career</a></li>
          </ul>
        </div>
        <div>
          <h5>Help</h5>
          <ul>
            <li><a href="#"> Customer Support</a></li>
            <li><a href="#"> Delivery Details</a></li>
            <li><a href="#"> Terms and conditions</a></li>
            <li><a href="#"> Privacy Policy</a></li>
          </ul>
        </div>
        <div>
          <h5>Resources</h5>
          <ul>
            <li><a href="#"> Free eBooks</a></li>
            <li><a href="#"> Development Tutorial</a></li>
            <li><a href="#"> How to - Blog</a></li>
            <li><a href="#"> Youtube Playlist</a></li>
          </ul>
        </div>
        <div>
          <h5>Link</h5>
          <ul>
            <li><a href="#"> Free eBooks</a></li>
            <li><a href="#"> Development Tutorial</a></li>
            <li><a href="#"> How to- Blog</a></li>
            <li><a href="#"> Youtube Playlist</a></li>
          </ul>
        </div>
      </section>
      <section class="end-footer">
        <div>2023 Crito - Consulting Company Inc. All Rights Reserved.</div>
        <div>
          <a href="https://facebook.com">
            <i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
          <a href="https://twitter.com">
            <i class="fa fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="https://instagram.com"></a>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <a href="https://linkedin.com"></a>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>
      </section>
    </footer>