@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="global">
        <div class="heading">
          <p class="text-warning">Projects and Case Studies</p>
          <h3>Let’s Looks Our Global Projects</h3>
        </div>
        <div class="cards-global">
          <div class="card-custom">
            <img
              class="card-img"
              src="~/images/homeImages/grow_your_business.png"
              alt="grow_your_business"
            />
            <h4>Grow Your Business</h4>
            <button class="btn" type="button">
              Read More
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="card-custom">
            <img
              class="card-img"
              src="~/images/homeImages/why_your_client_needs.png"
              alt="grow_your_business"
            />
            <h4>Why your client need a responsive website</h4>
            <button class="btn" type="button">
              Read More
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="card-custom">
            <img
              class="card-img"
              src="~/images/homeImages/educate_your_employees.png"
              alt="grow_your_business"
            />
            <h4>Educate your employees to get better results</h4>
            <button class="btn" type="button">
              Read More
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="card-custom">
            <img
              class="card-img"
              src="~/images/homeImages/business_insights.png"
              alt="grow_your_business"
            />
            <h4>Business Insights is a important piece of your business</h4>
            <button class="btn" type="button">
              Read More
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </div>
          <button class="btn btn-custom" type="button">
            All recent projects
          </button>
        </div>
      </section>