@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<nav class="navbar navbar-expand-md">
        <div class="container">
          <a href="#"><img src="images/logos/crito_logo.png" alt="logo" /></a>
          <button
            class="navbar-toggler my-2"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse flex-column align-items-start ml-lg-2 ml-0"
            id="navbarCollapse"
          >
            <ul class="navbar-nav flex-row mb-md-1 mt-md-0 mb-3 mt-2">
              <li class="nav-item">
                <i class="fa fa-phone" aria-hidden="true"> </i> +46 12 34 56 44
              </li>
              <li class="nav-item">
                <i class="fa fa-envelope" aria-hidden="true"> </i>
                info@crito.com
              </li>
              <li class="nav-item">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Olof Palmes
                plats 1, 413 04 Gothenburg
              </li>
              <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
              <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
              <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
              <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="news.html">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <button type="button" class="btn btn-custom">
                Login <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </ul>
          </div>
        </div>
      </nav>