@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="hero">
        <div>
          <h1>We provide The Best Business Solutions</h1>
          <p>
            Establish your vision and value proposition and turn them into
            testable prototypes.
          </p>
          <button type="button" class="btn btn-custom">
            Get Consulting <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-dark">
            Learn More <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
        </div>
        <img class="hero-img" src="images/hero.png" alt="home-image" />
      </div>