@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="team">
        <div class="content">
          <div class="heading">
            <p class="text-warning">Meet Our Team</p>
            <h3>Experience Team Members</h3>
            <button class="btn" type="button">Browse Team</button>
          </div>
          <div class="cards-team">
            <div class="card-team">
              <img
                class="card-img"
                src="~/images/homeImages/kimberly_hansen.png"
                alt="kimberly_hansen"
              />
              <h4>Kimberly Hansen</h4>
              <p>Senior Consultant</p>
            </div>
            <div class="card-team">
              <img
                class="card-img"
                src="/images/homeImages/justin_willoman.png"
                alt="justin_willoman"
              />
              <h4>Justin Willoman</h4>
              <p>Senior Tech Consultant</p>
            </div>
            <div class="card-team">
              <img
                class="card-img"
                src="/images/homeImages/kristine_palmer.png"
                alt="kristine_palmer"
              />
              <h4>Kristine Palmer</h4>
              <p>Chief operations officer</p>
            </div>
            <div class="card-team">
              <img
                class="card-img"
                src="/images/homeImages/mark_aubri.png"
                alt="mark_aubri"
              />
              <h4>Mark Aubri</h4>
              <p>Senior Consultant</p>
            </div>
          </div>
        </div>
        <div class="customer-reviews">
          <div class="heading">
            <p class="text-warning">Testimonials</p>
            <h3>What our clients say about ous</h3>
          </div>
          <div class="testimonials">
            <div>
              <p>
                "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus ab est reprehenderit ut asperiores, ad praesentium,
                numquam nam qui et quaerat maxime."
              </p>
              <img
                src="/images/homeImages/cassandra_warren.png"
                alt="cassandra_warren"
              />
              <h5>Cassandra Warren</h5>
              <p class="text-warning">Business Manager, Gobona</p>
            </div>
            <div>
              <p>
                "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus ab est reprehenderit ut asperiores, ad praesentium,
                numquam nam qui et quaerat maxime."
              </p>
              <img
                src="/images/homeImages/amanda_tulling.png"
                alt="amanda_tulling"
              />
              <h5>Amanda Tulling</h5>
              <p class="text-warning">Senior developer, Square</p>
            </div>
            <div>
              <p>
                "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus ab est reprehenderit ut asperiores, ad praesentium,
                numquam nam qui et quaerat maxime."
              </p>
              <img src="/images/homeImages/jack_douglas.png" alt="jack_douglas" />
              <h5>Jack McDouglas</h5>
              <p class="text-warning">Key Account Manager, Dorfus</p>
            </div>
          </div>
        </div>
      </section>
