@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
      <section class="why">
        <div>
          <h3>Why We Are The Best Business Consulting Agency</h3>
          <ul class="info">
            <li>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              <h4>Process Excellence</h4>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              <h4>Strategic Planning</h4>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <h4>Experience Design</h4>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
              <i class="fa-solid fa-brain"></i>
              <h4>Artificial Intelligence</h4>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
        </div>
        <img src="~/images/homeImages/why_choose_us.png" alt="old lady" />
      </section>
           