@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}

    <h2 class="news-heading">Our News and Articles</h2>
    <div class="news-cards">
          
@{
	    var selection = Umbraco?.Content(Guid.Parse("18ba41a6-d9d7-4e7a-b8ca-15626dd86dd8"))?
        .ChildrenOfType("newsItemPage")?
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList();
}
    @if (selection != null){
	    @foreach (var item in selection)
	    {
	        var category = item.Value("newsCategory");
	        var url = item.Url();
	        var image = item.Value<IPublishedContent>("newsImage");
            var title = item.Name();
            var preamble = item.Value("newsPreamble");

		    <a href="@url">
              <img class="img-fluid" src="@image?.Url()" alt="how_to_use_digitalization"/>
              <p>@category</p>
              <h4>@title</h4>
              <p>@preamble</p>
            </a>
	    }
    }

        <nav aria-label="navigation" class="pagination">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
      