@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_Layout.cshtml";
    ViewData["PageTitle"] = @Model.Value("pageTitle");
    ViewData["PageDescription"] = @Model.Value("pageDescription");
    ViewData["PageKeywords"] = @Model.Value("pageKeywords");
}

<header>
    @await Html.PartialAsync("_NavSection")
    @await Html.PartialAsync("_ShowcaseSection")
  
    
</header>
<main>
      <article class="features">
        <div class="div2">
          <p class="text-warning">Features</p>
          <h2>Our Accounting is trusted by thousand of companies</h2>
          <button type="button" class="btn btn-features">
            Learn More <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
        </div>
        <div class="div3">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <h3>Business Advice</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit,
            quidem!
          </p>
        </div>
        <div class="div4">
          <i class="fa-solid fa-money-bill-trend-up"></i>
          <h3>Financial Advice</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit,
            quidem!
          </p>
        </div>
        <div class="div5">
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          <h3>Startup Business</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit,
            quidem!
          </p>
        </div>
        <div class="div6">
          <i class="fa-solid fa-list-check"></i>
          <h3>Risk Management</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit,
            quidem!
          </p>
        </div>
      </article>
<section class="abt-company">
        <div>
          <img
            class="abt-img"
            src="images/about_company.png"
            alt="our founder"
          />
          <div class="overlap">
            <h3>Samantha Brown, <i class="text-warning"> Founder</i></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div>
          <p class="text-warning">About Company</p>
          <h2>We Are Business Consulting & Credit Repair Experts</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            officiis quas assumenda esse obcaecati? Ex esse error voluptates
            iure vel totam eos. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Omnis esse quasi incidunt adipisci accusantium
            libero provident voluptate amet.
          </p>
          <button type="button" class="btn btn-abt">
            Learn more <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-dark">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
          </button>
        </div>
      </section>

      <section class="services">
        <div class="heading">
          <p class="text-warning">Our Services</p>
          <h2>
            We provide the best<br />
            Service for Consulting
          </h2>
        </div>
        <div class="cards">
          <div class="card-custom">
            <h4>Business Advice</h4>
            <p>
              Long Description. Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Sed est error repellat veritatis.
            </p>
            <button class="btn" type="button">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="card-custom">
            <h4>Financial Advice</h4>
            <p>
              Long Description. Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Sed est error repellat veritatis.
            </p>
            <button class="btn" type="button">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="card-custom">
            <h4>Startup Business</h4>
            <p>
              Long Description. Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Sed est error repellat veritatis.
            </p>
            <button class="btn" type="button">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="card-custom">
            <h4>Risk Management</h4>
            <p>
              Long Description. Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Sed est error repellat veritatis.
            </p>
            <button class="btn" type="button">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </section>

      <section class="why">
        <div>
          <h3>Why We Are The Best Business Consulting Agency</h3>
          <ul class="info">
            <li>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              <h4>Process Excellence</h4>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              <h4>Strategic Planning</h4>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <h4>Experience Design</h4>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
              <i class="fa-solid fa-brain"></i>
              <h4>Artificial Intelligence</h4>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
        </div>
        <img src="images/why_choose_us.png" alt="old lady" />
      </section>

</main>